{% extends "_base.html" %} {% block content %}

    <div class="row" data-masonry='{"percentPosition": true }'></div>
  
  {% for m in mails %}
  
    <div class="col mb-4">
    <div class="card">
      <div class="card-header {{ 'bg-success' if m['status']==True else 'bg-danger' }} text-white d-flex justify-content-between align-items-center">
        <span><i class="fa-regular fa-user"></i> {{ m['sender'] }}</span>
        <span class="badge badge-light badge-pill"
            >{{ m['filecount'] }}</span
          >
      </div>
      <ul class="list-group list-group-flush">
        {% for fs in m['files'] %}
        
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
        <span><i class="fa-regular fa-file"></i> {{ fs['fileid']}}</span>
          <!-- <span class="badge {{ 'badge-primary' if fs['stage']['name']=='SE' }} badge-pill">Save Email</span> -->
          <span class="badge {{ 'badge-success' if fs['stage']['name']=='SA' else 'text-muted' }} badge-pill"><i class="fa-solid fa-cloud-arrow-up"></i> S3</span>
          <span class="badge {{ 'badge-success' if fs['stage']['name']=='Conv' else 'text-muted' }} badge-pill"><i class="fa-regular fa-file-pdf"></i> Convert</span>
          <span class="badge {{ 'badge-success' if fs['stage']['name']=='Ext' else 'text-muted' }} badge-pill"><i class="fa-solid fa-magnifying-glass"></i> Extract</span>
          <span class="badge {{ 'badge-success' if fs['stage']['name']=='GBO' else 'text-muted' }} badge-pill"><i class="fa-solid fa-database"></i> DB</span>
          


        </li>
        {% endfor %}
      </ul>
    </div>
</div>
    {% endfor %}
    <!-- </ul> -->
  </div>

<script>
setTimeout(function(){
    window.location.reload(1);
 }, 5000);
</script>
{% endblock %}
